body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 4fr;
    grid-template-rows: 1fr 1fr 7fr;
}

.navbar {
    grid-row: 1 / 4;
    background-color: #046B99;
    color: #B3EFFF;
    display: grid;
}

.header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    min-height: 75px;
}

.control-bar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 100px;
}

.main-content {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow-y: scroll;
    background-color:rgb(230, 229, 229);
    box-shadow: inset 1px 4px 2px -1px rgba(186,186,186,0.42);
}

.logo {
    align-self: center;
    padding-inline-start: 40px;
    font-size: 2em;
    font-weight: 700;
    display: flex;
}

.logo img {
    display: flex;
    align-items: center;
    padding-right: 10px;
    filter: invert(82%) sepia(64%) saturate(547%) hue-rotate(174deg) brightness(105%) contrast(109%);
}

.container .navbar .nav-list-1 ul {
    list-style: none;
    display: grid;
    gap: 25px;
    font-weight: 700;
}

.container .navbar .nav-list-1 ul > li {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.container .navbar .nav-list-1 ul > li > img {
    padding-right: 10px;
    filter: invert(82%) sepia(64%) saturate(547%) hue-rotate(174deg) brightness(105%) contrast(109%);
}

.container .navbar .nav-list-2 ul {
    list-style: none;
    display: grid;
    gap: 25px;
    font-weight: 700;
}

.container .navbar .nav-list-2 ul > li {
    display: flex;
    align-items: center;
    font-size: 1em;
}

.container .navbar .nav-list-2 ul > li > img {
    padding-right: 10px;
    filter: invert(82%) sepia(64%) saturate(547%) hue-rotate(174deg) brightness(105%) contrast(109%);
}

.left-side-header {
    display: flex;
    align-content: center;
    width: 100%;
    align-items: center;
    padding-left: 20px;
}

.header button {
    border: 0;
    background-color: transparent;
    height: fit-content;
    width: fit-content;
    padding-right: 20px;
}

.header input {
    border-radius: 15px;
    background-color:rgb(230, 229, 229) ;
    border: 0;
    width: 60%;
    height: 25px;   
}

.right-side-header {
    display: flex;
    align-content: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.left-side-control {
    display: flex;
    align-content: center;
    width: 100%;
    align-items: center;
    padding-left: 20px;
}

.left-side-control button {
    border: 0;
    background-color: transparent;
    height: fit-content;
    width: fit-content;
    padding-right: 20px;
}

.left-side-control button > img {
    height: 70px;
}

.left-side-control .welcome-msg {
    display: flex;
    flex-wrap: wrap;
}

.left-side-control .welcome-msg .bigger {
    font-size: 1.8em;
}

.right-size-control {
    display: flex;
    align-content: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.right-size-control button {
    border: none;
    border-radius: 15px;
    background-color: #B3EFFF;
    padding: 10px 30px;
    margin: 7px;
    font-weight: 700;
}

.main-content .main-title {
    grid-column: 1 / 3;
}

.projects-container {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15px 1fr 1fr 1fr;
    gap: 40px;
    padding: 10px 40px 40px 40px;
}

.projects-title {
    grid-column: 1 / 3;
}

.projects-container .projects-title > h2 {
    font-size: 16px;
}

.projects-container  > .projects {
    background-color: white;
    border-left: 5px solid #046B99;
    border-radius: 7px;
    padding: 10px;
    font-size: 14px;
    box-shadow: 3px 6px 8px -3px rgba(163,163,163,1);
}

.projects-container .projects .projects-buttons {
    display: flex;
    justify-content: flex-end;
}

.projects-container .projects .projects-buttons > button {
    background: transparent;
    border: none;
}

.announcements {
    grid-column: 2 / 3;
    display: grid;
    grid-auto-flow: row;
    max-height: 50%;
    padding: 10px 30px 20px 20px;
}
.announcements .announcements-title > h2 {
    font-size: 16px;
    margin-bottom: 23px;
}

.announcements .announcement-msg-container {
    background-color: white;
    border-radius: 7px;
    box-shadow: 3px 6px 8px -3px rgba(163,163,163,1);
    padding: 10px;
}

.announcements .announcement-msg {
    font-size: 12px;
    border-top: 1px solid rgb(142, 141, 141);
}

.announcements .announcement-msg:first-child {
    border-top: none;
}

.trending-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 10px 30px 20px 20px;
}

.trending-container .trending-title > h2{
    font-size: 16px;
    margin-bottom: 23px;
}

.trending-container .trending {
    background-color: white;
    border-radius: 7px;
    box-shadow: 3px 6px 8px -3px rgba(163,163,163,1);
    padding: 10px;
    display: grid;
    grid-auto-flow: row;
}

.trending-container .trending .usernames {
    display: flex;
}

.trending-container .trending .usernames > button {
    background: transparent;
    border: none;
}